<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EWAKO-Nuri Iman Sari-Curriculum Vitae</title>
    <link rel="stylesheet" href={{ url_for('static', filename='/css/style.css') }} type="text/css">
    <script src={{ url_for('static', filename='fontawesome/js/all.js') }}></script>
    <script src="https://kit.fontawesome.com/f0843369da.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">

        <div class="card-one">
            <div class="profile"></div>
            <div class="contact-box">
                <h2>Contact</h2>
                <div>
                    <i class="fas fa-phone-alt"></i>
                    <div class="text">(+62) 85394348440</div>
                </div>
                <div>
                    <i class="fas fa-home"></i>
                    <div class="text">Palu City, Central Sulawesi, Indonesia
                    </div>
                </div>
                <div>
                    <i class="fa-brands fa-github"></i>
                    <div class="text">https://github.com/nurryy</div>
                </div>
                <div>
                    <i class="fas fa-envelope"></i>
                    <div class="text">nuriimansari@gmail.com</div>
                </div>
            </div>
            <div class="personal-box">
                <h2>Personal Skills</h2>
                <div>
                    <p>Discipline</p>
                    <div>
                        <div class="dot active"></div>
                        <div class="dot active"></div>
                        <div class="dot active"></div>
                        <div class="dot active"></div>
                        <div class="dot active"></div>
                        <div class="dot active"></div>
                        <div class="dot active"></div>
                        <div class="dot active"></div>
                        <div class="dot "></div>
                        <div class="dot "></div>
                    </div>
                </div>
                <div>
                    <p>Responsible</p>
                    <div>
                        <div class="dot active"></div>
                        <div class="dot active"></div>
                        <div class="dot active"></div>
                        <div class="dot active"></div>
                        <div class="dot active"></div>
                        <div class="dot active"></div>
                        <div class="dot active"></div>
                        <div class="dot active"></div>
                        <div class="dot active"></div>
                        <div class="dot active"></div>
                    </div>
                </div>
                <div>
                    <p>Communicative</p>
                    <div>
                        <div class="dot active"></div>
                        <div class="dot active"></div>
                        <div class="dot active"></div>
                        <div class="dot active"></div>
                        <div class="dot active"></div>
                        <div class="dot active"></div>
                        <div class="dot "></div>
                        <div class="dot "></div>
                        <div class="dot "></div>
                        <div class="dot "></div>
                    </div>
                </div>
                <div
                    <p>Detail</p>
                    <div>
                        <div class="dot active"></div>
                        <div class="dot active"></div>
                        <div class="dot active"></div>
                        <div class="dot active"></div>
                        <div class="dot active"></div>
                        <div class="dot active"></div>
                        <div class="dot active"></div>
                        <div class="dot active"></div>
                        <div class="dot "></div>
                        <div class="dot "></div>
                    </div>
                </div>
                <div>
                    <p>Creative</p>
                    <div>
                        <div class="dot active"></div>
                        <div class="dot active"></div>
                        <div class="dot active"></div>
                        <div class="dot active"></div>
                        <div class="dot active"></div>
                        <div class="dot active"></div>
                        <div class="dot active"></div>
                        <div class="dot "></div>
                        <div class="dot "></div>
                        <div class="dot "></div>
                    </div>
                </div>
            </div>
            <div class="personal-box">
                <h2>Skills</h2>
                <br>
                <div>
                    <h4>Programming Language :</h4>
                    <p>PHP</p>
                    <p>HTML</p>
                    <p>CSS</p>
                    <p>C#</p>
                    <p>C++</p>
                    <p>Python</p>
                    <p>MySql</p>                    
                </div>
                <br>
                <div>
                    <h4>Software :</h4>
                    <p>Figma</p>
                    <p>Visual Studio Code</p>
                    <p>PyCharm</p>
                    <p>Microsoft Visual Studio 2022</p>
                    <p>Google Colab</p>                 
                </div>                
            </div>
        </div>

        <div class="card-two">

            <div class="head-title">
                <h1>Nuri Iman Sari</h1>
            </div>
            <div>
                <h2>An Information Technology Student</h2>
            </div>
            <div class="group-1">
                <div class="box">
                    <h2>About Me</h2>
                </div>
                <div class="desc">
                    I am an Information Technology student in Tadulako University who is interested in editing, designing, such as designing prototypes of web applications and android applications, developing web-based information systems and android-based applications, also experienced in developing desktop applications with a very dedicated teamwork
                </div>
            </div>
            <div class="group-2">
                <div class="box">
                    <h2>Education</h2>
                </div>
                <div class="desc">
                    <ul>
                        <li>2017 - 2020 | Bima District, West Nusa Tenggara</li>
                        <div>SMA Negeri 1 Sape | IPA (Ilmu Pengetahuan Alam) Major</div>
                    </ul>
                    <ul>
                        <li>2020 - present | Palu City, Central Sulawesi</li>
                        <div>Tadulako University | S1 - Teknik Informatika</div>
                    </ul>
                </div>
            </div>
            <div class="group-3">
                <div class="box">
                    <h2>Work Experience | Organization</h2>
                </div>
                <div class="desc">
                    <ul>
                        <li>2021 | Himpunan Mahasiswa Teknik Informatika Tadulako
                            University (HMTI UNTAD)</li>
                        <div>Participated in leadership training activities and n many held HMTI events
                        </div>
                    </ul>
                    <ul>
                        <li>2022 | Himpunan Mahasiswa Teknik Informatika Tadulako
                            University (HMTI UNTAD)</li>
                        <div>Participated as a coordinator of consumption division in the inauguration event for new HMTI members</div>
                    </ul>
                </div>
            </div>
            <div class="group-4">
                <div class="box">
                    <h2>Work Experience | College Project</h2>
                </div>
                <div class="desc">
                    <ul>
                        <li>Proggraming</li>
                        <div>Developed a Web-based food recipe information system using PHP language program</div>
                    </ul>
                    <ul>
                        <li>Prototyping</li>
                        <div>Made a design and prototype of food recipe information system</div>
                    </ul>
                    <ul>
                        <li>Programming</li>
                        <div>Teamwork project that developed an Android-based book library and comic recommendation application with API</div>
                    </ul>
                </div>
            </div>
            
        </div>

    </div>
</body>
</html>